# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore logs directory
logs/

# Ignore compiled files
dist/
build/

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
